html,
body {
	height: 100%;
	margin-top:25px;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

#wrap > .container {
	padding: 60px 15px 0;
}
.container .credit {
	margin: 20px 0;
}


#current-state {
	color: red;
}

section li {
	list-style-type: none;
	text-align: left;	
}

.navbar-brand {
	font-family: "Roboto";
}

.navbar a {
	text-decoration: none;
	color: #333;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.row {
	margin-left:0px;
	margin-right:0px;
}

.lead {
	text-align: justify;
}


.header::before {
	content: "";
	min-height: 600px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;
	background-image: url(../img/mtp.jpg);

	display: block;
/* 	-webkit-filter: brightness(0.5);
-moz-filter: brightness(0.5);
-o-filter:  brightness(0.5);
-ms-filter:  brightness(0.5);
filter: brightness(0.5); */

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.header {
	display: block;
	position: relative;
	width: 100%;
	min-height: 600px;
	text-align: center;
	color: white;
	font-family: "Ubuntu","Arial";

}

.header-button{
	display:inline-block;
	background-color: rgba(0,0,255,0);
	color:#fcfcfc;
	margin-top:2em;
	padding:2em;
	border:2px solid #fcfcfc;
	-webkit-transition-duration:0.5s;
	transition-duration:0.5s
}

.header-button:hover{
	background-color:#fcfcfc;
	color:#030303
}

#footer {
	height: 60px;
	background-color:#414141;
	margin-top:50px;
	padding-top:20px;
	padding-bottom:20px;
}

#footer a {
	color:#efefef;
}

#contact {
	line-height: 200%;
	font-family: "Roboto";
}

#topNav {
	z-index:-1;
}


#nav {
	width: 100%;
}

#nav.affix-top {
	position: absolute;
	top:0;
	left:0;
	z-index:10;
	height:54px;
	background-color:transparent;
	border:0;
}

#nav.affix {
	position: fixed;
	top: 0;
	z-index:10;
	-webkit-transition: all .6s ease-in-out;
}

.navbar-nav {
	margin: 1px 1px; 
}  

.navbar-toggle {
	outline:0;
}

.divider {
	height:50px;
}

.panel {
	border-width:0;
}

.scroll-top {
	position:fixed;
	bottom:0;
	right:6%;
	z-index:100;
	background: #f2f3f2;
	font-size:24px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
	color:#222;
} 

section {
	min-height: 400px;
	height: auto !important;
	height: 100%;
	padding-top:100px;
}

.jumbotron {
	height: 350px;
	color: white;
	text-shadow: #444 0 1px 1px;
	background:transparent;
}

.contenu::before {
	content:"";
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;
}

.title {
	padding-bottom: 20px;
}

#resume {
	padding-bottom: 0px;
}

#education {
	color: white;
	padding-top: 0;
}

#education h2 {
	/* color: #7C643E; */
	line-height: 2px;
	padding-top: 30px;
}

.year {
	padding-top: 20px;
	/* color: #7C643E; */
}

.logo {
	position: relative;
	display:block;
	width: auto;
}

.bigger {
	font-size: 48px;
}

.vcenter {
	position: relative;
	margin-top:10%;
}

.school {
	color: #a9a9a9;
}

#myface {
	height: 200px; 
	max-width: auto;
	margin-top: 70px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;

}

#projects {
	font-family: "Open Sans";
	margin-bottom: 100px;
}

#experiences {
	padding-top: 1em;
	padding-bottom: 1em;
	font-family: "Roboto";
	font-size: 16px;
	background-color: #f3f3f3;
}

.dashed {
	border: none;
	border-top: dashed 2px #00CC33;
	color: #ffffff;
	background-color: #ffffff;
	margin-top: 0;
	width: 50%;
	margin-bottom: 0;
}

#hobbies {
	padding-top: 2em;
}

.copyright {
	background-color: #c0d6e4;
	border: 1px #576d94 dashed;
	box-shadow: 1px 1px 10px #555;

}

@media (min-width: 768px) {
	.contenu::before {
		background-image: url(../img/studies.jpg);
		background-attachment: fixed; 
		display: block;
		width:100%;
		min-height: 550px;

		-webkit-background-size: cover; /* pour Chrome et Safari */
		-moz-background-size: cover; /* pour Firefox */
		-o-background-size: cover; /* pour Opera */
		background-size: cover;

-webkit-filter: brightness(0.5) blur(2px);
-moz-filter: brightness(0.5) blur(2px);
-o-filter:  brightness(0.5) blur(2px);
-ms-filter:  brightness(0.5) blur(2px);
filter: brightness(0.5) blur(2px);
	}
}


@media (max-width: 767px) {
	.contenu {
		background-image: url(../img/metallicgray.jpg);
		background-attachment: fixed;
		display: inline-block;
		font-size: 12px;
	}
	.contenu h2,
	.contenu h3,
	.contenu h4 {
		font-size: 16px;	
	}

	#experiences {
		font-size: 12px;
	}

	.logo {
		display: none;
	}

		.navbar-nav > li {
		display: inline-block;
	}
}

@media (min-width: 767px) {
	.navbar-nav.nav-justified > li {
		float:none;
	}
}

@media (max-width: 480px) {

	.navbar-nav > li {
		display: inline-block;
	}

}